
#project-container {
	width: 100%;
}

.timeline-container {
	margin: 40px auto 0 auto;
	width: 50%;
	height: 100vh;
}

.timeline-item {
	min-height: 175px;
	margin-bottom: 60px;
}

.smaller-item {
	margin-bottom: 40px;
}

.project-title {
	font-size: 1.6em;
	font-weight: 600;
	margin-bottom: 6px;
}

.sub-heading {
	font-size: 1.1em;
	color: #AFB1B0;
	margin-top: 14px;
}

.project-paragraph {
	line-height: 1.7;
	color: #373B3A;
	font-size: 0.93em;
	word-wrap: break-word;
	overflow: hidden;
	margin-top: 4px;
}

.staytrack-container {
	width: 50%;
	display: block;
	margin: 0 auto;
}

.staytrack-img {
	max-height: 300px;
}

.tracker-container {
	display: block;
	margin: 20px 0;
}

.tracker-img {
	max-width: 100%;
	box-shadow: 0 2px 4px 0 hsla(0, 0%, 0%, 0.2);
}

.dashboard-container {
	width: 75%;
	margin: 20px auto 30px auto;
}

.dashboard-img {
	max-width: 100%;
	box-shadow: 0 2px 4px 0 hsla(0, 0%, 0%, 0.2);
}

.dashboard-components {
	margin: 20px auto;
	width: 80%;
}

.mod-img {
	max-width: 100%;
	box-shadow: 0 2px 4px 0 hsla(0, 0%, 0%, 0.2);
}

.bottom {
	margin-bottom: 100px;
}