@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display:900&display=swap');

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: #FFF9FB;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header-container {
  margin: 0 auto;
  max-width: 960;
  max-height: 40vh;
}

.highlight {
  background: #F46B3F;
}

.profile-info {
  width: 50%;
  height: 100%;
  float: left;
  padding: 3% 0 0 10%;
}

h1 {
  font-size: 2.8rem;
  font-family: 'Merriweather', serif;
  margin-bottom: 4%;
}

h2 {
  font-size: 2em;
  font-family: 'Merriweather', serif;
  margin: 0 auto;
  text-align: center;
}

.sub1 {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.1em;
  font-size: 0.9em;
  margin: 1% auto;
}

.sub2 {
  font-family: 'Georgia';
  letter-spacing: 0.05em;
  font-size: 0.95em;
  margin: 5% auto;
  cursor: pointer;
}

.portrait {
  min-width: 200px;
  border-radius: 5%;
  float: left;
  padding: 6% 0 0 8%;
}

.section {
  height: 30vh;
  width: 100%;
  display: inline-block;
  background: lightgrey;
  margin: 2% auto;
}

.footer-container {
  width: 100%;
  background: lightblue;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}