@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans|Playfair+Display:900&display=swap');

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: #e8fdf5;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header-container {
  margin: 0 auto;
  width: 100vw;
  min-height: 40vh;
  overflow: hidden;
  padding-bottom: 12vh;
}

.header-content {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

.link {
  background: #F46B3F;
}

.profile-info {
  width: 50%;
  height: 100%;
  float: left;
}

h1 {
  font-size: 2.8rem;
  font-family: 'Playfair Display', serif;
  /*font-family: 'Merriweather', serif;*/
  margin: 12% 0 4% 0;
}
/*
.name::after{
  content: "";
  background-color: #f3c9b2;
  height: 7px;
  position: absolute;
  top: 11%;
  left: 10%;
  -webkit-transform: translateY(-50%) rotate(0deg);
  transform: translateY(-50%) rotate(0deg);
  border-radius: 2px;
  width: 350px;
  z-index: -1;
}*/

h2 {
  font-size: 2.3em;
  font-family: 'Playfair Display', serif;
  /*font-family: 'Merriweather', serif;*/
  margin: 3% auto;
  text-align: center;
}

.sub1 {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.1em;
  font-size: 0.9em;
  margin: 1% auto;
}

.sub2 {
  font-family: 'Georgia';
  letter-spacing: 0.05em;
  font-size: 0.95em;
  margin: 5% auto;
  cursor: pointer;
}

.icon-container {
  width: 50%;
  font-size: 1.3em;
}

.icon-container a {
  margin: 0 3.5%;
}

.link-container {
  margin: 5% 0;
  font-family: 'Merriweather', serif;
  font-size: 0.96em;
}

.link-container a {
  margin: 0 2.5%;
  background: #f5d76e;
  text-decoration: none;
  color: black;
}

.portrait {
  float: left;
  padding: 8% 0 0 15%;
}

.profile-image {
  border-radius: 2%;
  width: 200px;
}

.section {
  min-height: 30vh;
  width: 100vw;
  display: inline-block;
  background: lightblue;
  padding-bottom: 4%;
}

.content-container {
  width: 80%;
  max-width: 800px;
  margin: 1% auto;
  font-family: 'Georgia';
  font-size: 1.05em;
  line-height: 175%;
}

.content-container a {
  background: #f5d76e;
  text-decoration: none;
  color: black;
}

.sub {
  width: 100%;
  padding-left: 10%;
}

.date {
  font-weight: bold;
  min-width: 200%;
  padding-right: 10%;
  font-size: 0.8em;
}

.sub-content {
  font-size: 0.95em;
}

.footer-container {
  background: #111;
  width: 100vw;
  text-align: center;
  color: #FFF9FB;
  font-size: 0.8em;
  font-style: italic;
  padding: 2% 0;
  font-family: 'Merriweather', serif;
}

.footer-block {
  padding-right: 10%;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}